// ::ng-deep body.main-body {

// background: linear-gradient(99deg, #F6F9FE 0%, #E8F1F8 100%);

// }

div.margin {
  margin-right: 20%;
}
.p {
  background-image: url('../../../assets/layout/images/login.jpg');
  background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        

      
      }
div.login{
  margin-left: auto;
  width:80%;
}
.para{
font-size:15px;
color:deeppink;
display:inline;
}
.para_ {
font-size:15px;
color:black;
display:inline;
 }
.a_{
margin-right: auto;
color: deeppink;
font-size:13px
}
.b_{
 
  padding: 3%; 
   width:50%;
  color: #135aa9;
  margin-left : 22%;
}
 .or_{

  
  color: black;
  margin-left : 2%;
  
}